<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<h2> Click the button below to add a new note</h2>
	<div>
 <a id="mybutton" href="./add" title="Add note">
  <button>Add Note</button>
 </a>
</div>
  </body>
</html>